<div class="row">
    <div class="col-12">
    <h1 class="text-center">Edit Invoice</h1>
    <form [formGroup]='invoiceForm' (submit)='onInvoiceFormSubmit()' class="text-center">
        <input type='text' placeholder="Enter Amount" formControlName='amount'/>
        <div *ngIf="invoiceForm.controls['amount'].invalid && (invoiceForm.controls['amount'].touched || invoiceForm.controls['amount'].dirty)">
            Invalid Amount
        </div>
        <BR><BR>
        <input type='text' placeholder="Enter Date in YYYY-MM-DD" formControlName='applyDate'/>
        <div *ngIf="invoiceForm.controls['applyDate'].invalid && (invoiceForm.controls['applyDate'].touched || invoiceForm.controls['applyDate'].dirty)">
            Invalid Amount
        </div>
        <BR><BR>
        <select formControlName='beneficiary'>
            <option value="" disabled>Select Beneficiary</option>
            <option *ngFor='let b of beneficiaries' value="{{b.id}}">{{b.name}}</option>
        </select>
        <BR><BR>
        <button [disabled]='!invoiceForm.valid'>Edit Invoice</button>
    </form>
    </div>
    </div>
    <div *ngIf="error == true" class="text-center">
        {{msg}}
        <a routerLink="/invoice">Go to invoice</a>
    </div>
    